<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/welcome']">Desk Ready Training {{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="router-link-active">Home</a></li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/courses']" routerLinkActive="router-link-active">View Courses</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
      </li>
    </ul>


    <div *ngIf="isLoggedIn" class="nav-item">
      <span class="mr-4">Hello {{ userDisplayName }}!</span>

      <a (click)="authService.signOut()">Logout</a>
    </div>

    <div *ngIf="!isLoggedIn" class="nav-item">
      <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login/Register</a>
    </div>
  </div>
</nav>
