<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/welcome']">Desk Ready Training {{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="router-link-active">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/courses']" routerLinkActive="router-link-active">View Courses</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/about']"
            routerLinkActive="router-link-active">About</a></li>

            <!-- <li *ngIf="!loggedIn" class="nav-item">
                <a class="nav-link" [routerLink]="['/login']"
                routerLinkActive="router-link-active">Login</a>
             </li>

             <li *ngIf="loggedIn" class="nav-item">
                 <a class="nav-link" (click)="logout()"
                 routerLinkActive="router-link-active">Logout</a>
              </li> -->

              <div *ngIf="auth.user | async as user; else showLogin">
                <h1>Hello {{ user.displayName }}!</h1>
                <button (click)="logout()">Logout</button>
              </div>
              <ng-template #showLogin>
                <p>Please login.</p>
                <button (click)="login()">Login with Google</button>
              </ng-template>







      </ul>
    </div>
  </div>
</nav>
