#lock {
  width: 40%;
  margin: 1.5em auto 4em auto;
  display: block;
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 16px 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}

#fb {
  background: #3b5998;
  color: #fff;
  margin-top: 10px;
}

.s-logo {
  width: 24px;
  height: 24px;
}

#email {
  background: #ececec;
}

.error {
  background: #f1f0ef;
  padding: 1em;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.auth-card {
  max-width: 400px;
}

.firebase-auth {
  position: absolute;
  top: -23px;
  right: 0;
  display: flex;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    background-color: #2f93c2;
    border-radius: 8px;
  }
}

#signin-button {
  background-color: #2f93c2;
  border-color: #2f93c2;
}

.register-link {
  color: #2f93c2;
}
